<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <bindings>

      <netTcpBinding>
        <binding name="TCPBinding">

          <security mode="None"/>
        </binding>

      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>

        <behavior name="enableMetaData">
          <serviceMetadata httpGetEnabled="true"/>

        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webHttpBehavior">

          <webHttp/>
        </behavior>

      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="WCFServer.MyService" behaviorConfiguration="enableMetaData">

        <host>
          <baseAddresses>

            <add baseAddress="net.tcp://localhost:4503"/>
            <add baseAddress="http://localhost"/>

          </baseAddresses>
        </host>

        <endpoint address="Calculator" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="WCFServer.IMyService"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>

        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webHttpBehavior" contract="WCFServer.IClientAccessPolicy"/>
      </service>

    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
